[Unit]
Description=Dashing 3CX Ru queue monitoring
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=10s
ExecStart=/usr/bin/ruby {path_to_ruby_script} "{path_to_setings_YAML_file}"

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target
